body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    color:white;
    font-weight: 600;
    background-color: black;
}
/* #262626; */

/* nav bar */
.head-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    box-shadow: 5px 5px 5px 5px black ;
    padding: 10px;
    gap:10px;
}
#logo{
    font-weight:600;
    font-size:30px;
    margin-right: 70px;
}

#search, #login , #explore , #rent{
    padding: 5px;
    width: 75px;
    left: 958px;
    top: 33px;
    background: #262626;
    border-radius: 10px;
}
#login , #explore , #rent{
    text-align: center; 

}
#search{
    padding: 10px;
    border: none;
    display: flex;
    width:  597px;
    color:white;
}

.about{
    font-weight:600;
    font-size:30px;
    margin-left:40px;
    margin-top:70px;
}

.shop{
    margin-bottom:20px;
}

.triangle{
    margin-bottom:20px;
}

.clock{
    margin-left:1600px;
    position: relative;
    bottom:300px;
}

.know{
    margin-left:1600px;
    position: relative;
    bottom:30px;

    padding: 15px;
    width: 100px;
    background: yellow;
    color:black;
    border-radius: 15px;
}

.section1{
    margin-top:50px;
    padding: 1px;
    width: 1750px;
    height:500px;
    background: #262626;
    border-radius: 10px;
}

.cat{
    margin-left:50px;
}

.para1{
    margin-left:50px;
    padding: 1px;
    width: 500px;
    background: #262626;
    border-radius: 10px;
}

.know1{
    margin-left:350px;

    padding: 5px;
    width: 100px;
    background: yellow;
    color:black;
    border-radius: 15px;
}

.para2{
    margin-left:650px;
    padding: 1px;
    width: 500px;
    background: #262626;
    border-radius: 10px;

    position: relative;
    bottom:235px;
}

.para3{
    margin-left:1250px;
    padding: 1px;
    width: 500px;
    background: #262626;
    border-radius: 10px;

    position: relative;
    bottom:470px;

}

.para4
{
    margin-left:60px;
    padding: 1px;
    width: 500px;
    background: #262626;
    border-radius: 10px;

    position: relative;
    bottom:350px;
}

.para5{


    margin-left:650px;
    width: 500px;
    height: 230px;
    background: #262626;
    border-radius: 10px;

    position: relative;
    bottom:600px;

}

.para6{

    margin-left:1250px;
    padding: 1px;
    width: 500px;
    background: #262626;
    border-radius: 10px;

    position: relative;
    bottom:830px;

}

.para7
{
    padding: 1px;
    width: 500px;
    background: #262626;
    border-radius: 10px;
}

.forent{
    margin-left:50px;
    position: relative;
    bottom:750px;
}

.map{

    margin-left:1000px;
    position: relative;
    bottom:970px;
}

.social{

    margin-left:1600px;
    position: relative;
    bottom:1180px;
    z-index: 3;
}



